body {
    font-family: Arial, Helvetica, sans-serif;
}

.card-1 {
    border: 2px solid darkslategrey;
    border-radius: 8px;
    background-color: #274d92;
    padding: 20px;
    margin: 20px 130px 20px;
    color: gray;
}

#inputs {
    display: flex;
    flex-direction: column;
    border: 3px solid darkslategray;
    border-radius: 90px;
    padding: 30px;
}

#summary {
    display: flex;
    flex-direction: column;
    border: 3px solid darkslategray;
    border-radius: 90px;
    padding: 30px;
    margin: 10px 30px 10px;
}
.form-section {
    display: flex;

}

#charts-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

canvas {
    max-width: 45%;
    max-height: 400px;
}

/* Media Queries */

/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}*/

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}*/

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}*/

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...}*/